body {
	max-width: 1276px;
	background-color: #f2f8ff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.header {
	font-size: 24px;
	line-height: 24px;
	color: #2b2d35;
	font-weight: 500;
	margin: 20px 0px;
}
.wrapper {
	position: relative;
	width: 1212px;
	height: 658px;
	border-radius: 24px;
	padding: 24px;
	background-color: #fff;
}
