:root {
	@font-face {
		font-family: 'Stolzl';
		src: url('./assets/fonts/Stolzl/stolzl_regular.otf');
	}
	font-family: 'Stolzl';
	line-height: 1.5;
	font-weight: 400;
	box-sizing: border-box;
	color: #2b2d35;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
}
